@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
body,
html {
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.025em;
  color: #333;
  background: #f7f7f7;
}

.center {
  position: absolute;
  top: 50%;
  left: calc(50% + 12rem);
  transform: translate(-50%, -50%);
}

.pic {
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.contact {
  position: relative;
  margin-bottom: 1rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .pic {
  position: absolute;
  left: 0;
}
.contact .name {
  font-weight: 500;
  margin-bottom: 0.125rem;
  font-size: 18px;
}
.contact .message,
.contact .seen {
  font-size: 0.9rem;
  color: #999;
}
.contact .badge {
  box-sizing: border-box;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 0.125rem;
  border-radius: 1rem;
  top: 0;
  left: 2.5rem;
  background: #333;
  color: white;
}

.contacts {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-6rem, -50%);
  width: 24rem;
  height: 32rem;
  padding: 1rem 2rem 1rem 1rem;
  box-sizing: border-box;
  border-radius: 1rem 0 0 1rem;
  cursor: pointer;
  background: white;
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
  transition: transform 500ms;
}
.contacts h2 {
  margin: 0.5rem 0 1.5rem 5rem;
}
.contacts .fa-bars {
  position: absolute;
  left: 2.25rem;
  color: #999;
  transition: color 200ms;
}
.contacts .fa-bars:hover {
  color: #666;
}
.contacts .contact:last-child {
  margin: 0;
}
.contacts:hover {
  transform: translate(-23rem, -50%);
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 40px;
  left: 180px;
  width: 70rem;
  margin: 0 auto;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  overflow-y: scroll;
}
.chat .contact.bar {
  flex-basis: 3.5rem;
  flex-shrink: 0;
  margin: 1rem;
  box-sizing: border-box;
}
.chat .messages {
  padding: 1rem;
  max-height: 500px;
  overflow-y: scroll;
  background: #f7f7f7;
  flex-shrink: 2;
  overflow-y: auto;
  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
}
.chat .messages .time {
  font-size: 0.8rem;
  background: #eee;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  color: #999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.chat .messages .message {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  min-height: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 66%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}
.chat .messages .message.parker {
  margin: 1rem 1rem 1rem auto;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  background: #333;
  color: white;
}
.chat .messages .message .typing {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0rem;
  box-sizing: border-box;
  background: #ccc;
  border-radius: 50%;
}
.chat .messages .message .typing.typing-1 {
  -webkit-animation: typing 3s infinite;
          animation: typing 3s infinite;
}
.chat .messages .message .typing.typing-2 {
  -webkit-animation: typing 3s 250ms infinite;
          animation: typing 3s 250ms infinite;
}
.chat .messages .message .typing.typing-3 {
  -webkit-animation: typing 3s 500ms infinite;
          animation: typing 3s 500ms infinite;
}
.chat .input {
  box-sizing: border-box;
  flex-basis: 6rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 1.5rem;
  position: relative;
}
.chat .input i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #666;
  cursor: pointer;
  transition: color 200ms;
}
.chat .input i:hover {
  color: #333;
}
.chat .input input {
  border: none;
  background-image: none;
  background-color: white;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 1.125rem;
  flex-grow: 2;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.chat .input input:placeholder {
  color: #999;
}

.logo {
    width: 100px;
    margin-top: 10px;
}

@-webkit-keyframes typing {
  0%, 75%, 100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}

@keyframes typing {
  0%, 75%, 100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}
.pic.stark {
  background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png");
}

.pic.banner {
  background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/4/4f/BruceHulk-Endgame-TravelingCapInPast.jpg");
}

.pic.thor {
  background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/9/98/ThorFliesThroughTheAnus.jpg");
}

.pic.danvers {
  background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/0/05/HeyPeterParker.png");
}

.pic.rogers {
  background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/7c/Cap.America_%28We_Don%27t_Trade_Lives_Vision%29.png");
}

/* .sectionBallonHuman {
    background: #ced9f8;
    text-align: right;
    border-radius: 25px 25px 2px 25px;
    float: right;
    box-shadow: 0px 9px 30px 0px rgba(44, 55, 79, 0.07);
    padding: 15px;
    margin-bottom: 20px;
}

.sectionBallonAi {
    background: #e8e6e6;
    text-align: right;
    border-radius: 25px 25px 25px 2px;
    float: left;
    box-shadow: 0px 9px 30px 0px rgba(44, 55, 79, 0.07);
    padding: 15px;
    margin-bottom: 10px;
}
 */

#bot {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  #bot .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
  }
  #bot .container .avatar {
    height: 8em;
    width: 8em;
    border-radius: 100%;
    border: 4px solid #ff9c1a;
    background-image: url("https://www.zbudowy.pl/storage/logo/logo_bot.png");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
  }
  #bot .container .info {
    display: flex;
    justify-content: center;
    color: #333;
  }
  #bot .container .name {
    margin: 1em 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
  }
  #bot .container .category {
    margin: 0.1em 0 0 0;
    font-size: 0.9em;
  }
  #bot .container .description {
    margin: 1em 0 0 0;
    text-align: center;
    font-size: 0.7em;
  }
  #bot .container .button {
    margin: 2em 0 0 0;
    width: fit-content;
    padding: 0.5em 2em;
    font-size: 1.2em;
    background-color: #ff9c1a;
    border-radius: 4px;
    color: #fff;
    transform: scale(1);
    animation: pulse 2s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(0.95);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.95);
    }
  }
  #bot .container .button:hover {
    color: #f1f1f1;
    background: #ee9e36;
    cursor: pointer;
  }
  
  #test {
    height: 97vh;
    width: 100%;
  }
  
  #root {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
  }
  
  .chat::-webkit-scrollbar {
    width: 12px;
  }
  
  .chat::-webkit-scrollbar-track {
    background: none;
  }
  
  .chat::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 20px;
    border: 3px solid #ffffff;
  }
  
  .chat .ballon {
    font-size: 0.9rem;
    width: fit-content;
    padding: 0.7em 0.7em;
    border-radius: 3vh;
    margin: 0.2em 0;
    min-width: 1.4em;
    min-height: 0.9rem;
  }
  .chat .sectionBallonAi {
    display: flex;
    flex-direction: row;
  }
  .chat .sectionBallonAi .ai {
    background-color: #ffffff;
    color: #222222;
    text-align: left;
    border-radius: 25px 25px 25px 2px;
    float: right;
    box-shadow: 0px 9px 30px 0px rgba(44, 55, 79, 0.07);
    padding: 15px;
    margin-bottom: 10px;
    max-width: 500px
  }
  .chat .sectionBallonAi .ai .typing {
    position: relative;
  }
  .chat .sectionBallonAi .ai .typing span {
    content: "";
    animation: blink 1.5s infinite;
    animation-fill-mode: both;
    height: 0.25rem;
    width: 0.25rem;
    background: #222222;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
  }
  .chat .sectionBallonAi .ai .typing span:nth-child(2) {
    animation-delay: 0.2s;
    margin-left: 0.45rem;
  }
  .chat .sectionBallonAi .ai .typing span:nth-child(3) {
    animation-delay: 0.4s;
    margin-left: 0.9rem;
  }
  @keyframes blink {
    0% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
  .chat .sectionBallonHuman {
    display: flex;
    flex-direction: row-reverse;
  }
  .chat .sectionBallonHuman .human {
    background: #ced9f8;
    text-align: right;
    border-radius: 25px 25px 2px 25px;
    float: right;
    box-shadow: 0px 9px 30px 0px rgba(44, 55, 79, 0.07);
    padding: 15px;
    margin-bottom: 20px;
    max-width: 500px;
  }
  
  .sectionQuest {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
  }
  .sectionQuest .questInput {
    width: 500px;
    border-radius: 10px;
    height: 1.4rem;
    font-size: 0.9rem;
    padding: 2vh 3vh;
    border: none;
    background: #f1f1f1;
  }
  .sectionQuest .questSend {
    margin-left: 10px;
    width: 10%;
  }
  .sectionQuest .questSend img {
    height: 40px;
    width: 40px;
  }
  
  @media only screen and (max-width: 600px) {
    .root {
      width: 100%;
    }
  
    .sectionQuest .questInput {
      width: 95%;
    }
  }

  .outer-sectionAI {
    display: flex;
    flex-direction: column;
}

.filter-section {
    display: flex;
    margin-bottom: 30px;
}

.auto-section {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 125px;
  z-index: 99999;
}

.filter-options {
    display: flex;
    padding: 5px 15px;
    border-radius: 20px;
    margin-right: 5px;
    background: #6098FF;
    margin-right: 5px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.filter-options.auto {
  width: 170px;
  background: #ffffff;
  border: 1px solid #1e6091;
  color: #1e6091;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.send {
    width: 25px;
    position: absolute;
    right: 40px;
}

.carousel-wrapper {
    width: 60%;
    margin-bottom: 10px;
}

.swiper-image {
    width: 100%;
}

.voice {
  position: absolute;
  right: 100px;
  width: 50px;
  top: 23px;
}

.upload {
  position: absolute;
  right: 70px;
  top: 28px;
  width: 35px;
}

.last-price {
  text-decoration: line-through;
  color: #999;
  font-weight: 500;
  font-size: 15px;
}

.sale-price {
  font-size: 15px;
  font-weight: 600;
}

.title {
  text-overflow: ellipsis;
  font-size: 13px;
  width: 85%;
  color: #666;
  font-weight: 400;
}